<div class="alert alert-danger" role="alert" ng-message="required">This field is required</div>
<div class="alert alert-danger" role="alert" ng-message="minlength">This field is too short</div>
<div class="alert alert-danger" role="alert" ng-message="maxlength">This field is too long</div>
<div class="alert alert-danger" role="alert" ng-message="required">This field is required</div>
<div class="alert alert-danger" role="alert" ng-message="email">This needs to be a valid email</div>
<div class="alert alert-danger" role="alert" ng-message="decimal">This needs to be a valid decimal</div>
<div class="alert alert-danger" role="alert" ng-message="credentials">Wrong credentials</div>
<div class="alert alert-success" role="alert" ng-message="loggedIn">You are successfully logged in</div>
